* {
  margin: 0;
  padding: 0;
}

.simulation {
  width: 800px;
  height: 600px;
  border: 1px solid black;
}

.simulation .topic {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.subtopics {
  width: 100%-20px;
  margin-left: 20px;
  line-height: 35px;
}

.subtopics ol li {
  margin-left: 40px;
}

.subtopics p {
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.grid-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
}

.img1 {
  height: 85px;
  width: 100px;
  margin: 20px auto;
}

.img2 {
  height: 85px;
  width: 110px;
  margin: 20px auto;
}

.img3 {
  height: 80px;
  width: 110px;
  margin: 20px auto;
}

.img4 {
  height: 50px;
  width: 90px;
  margin: 20px auto;

}

.img5 {
  height: 50px;
  width: 100px;
  margin: 20px auto;

}

.img6 {
  height: 85px;
  width: 90px;
  margin: 20px auto;
}

/* next button */

#buttonup {
  border: 0;
  cursor: pointer;
  float: right;
  margin-right: 20px;
  background-color: white;
}

#buttondown {
  border: 0;
  cursor: pointer;
  float: left;
  margin-left: 20px;
  background-color: white;
  transform: scaleX(-1);
  display: none;
}

.nextimg {
  width: 45px;
  height: 45px;
}

#content {
  width: 800px;
  height: 500px;
}

#content2 {
  width: 800px;
  height: 500px;
}

/* options */

.simoptions {
  background-color: rgba(135, 207, 235, 0.621);
  width: 25%;
  height: 500px;
  padding-bottom: 50px;
  float: left;
}

.procedure {
  margin: 10px;
}

#exp {
  height: 35px;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(65, 62, 62, 0.219);
  cursor: pointer;
}

.insert-reset{
  display: flex;
  justify-content: center; 
  margin: 10px;
}
.insert-reset button{
  width: 120px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}
.current {
  margin: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: black;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border:2px solid red;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover{
  width: 20px;
  height: 20px;
}

/* .cslider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
} */

.materialdiv {
  /* background-color: rgb(144, 205, 255); */
  margin: 10px;
}

#materials {
  height: 35px;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(65, 62, 62, 0.219);
  cursor: pointer;
}

.thickness {
  margin: 10px;
}

.hallcurrent {
  margin: 10px;
}

.result{
  margin: 10px;
  /* background-color: red; */
  text-align: left;
}

/* Simulation Box */

.mainsimulation {
  /* background-color: rgb(85, 127, 85); */
  width: 75%;
  height: 500px;
  float: right;
  text-align: center;
}

.mainsimulation img{
  width:600px;
  height:426px;
  margin-top: 30px;
}

#content3 {
  background-color: skyblue;
  width: 800px;
  height: 500px;
}
